.gallery {
  align-content: center;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 1024px) {
  .gallery {
      margin-bottom: 92px;
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
      margin-bottom: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
      margin-bottom: 64px;
  }
}
