.cover__subtitle {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
      width: 288px;
      font-size: 14px;
      margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__subtitle {
      width: 360px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {
      width: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
      width: 360px;
  }
}

