.header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (max-width: 320px) {
  .header {
      padding-top: 16px;
  }
}
