.place__text {
  width: 100%;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 25px;
}

.place__text:nth-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__text {
      font-size: 16px;
  }
}
