.header__link {
  display: block;
  justify-content: flex-end;
  margin-left: 18px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.header__link:nth-child(2) {
  margin-left: 0;
}

.header__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
  }
}
