.bottom__subtitle {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .bottom__subtitle {
      width: 288px;
      font-size: 14px;
      bottom: 33px;
      right: 16px;
      left: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bottom__subtitle {
      width: 360px;
      bottom: 115px;
      right: 204px;
      left: 204px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .bottom__subtitle {
      width: 360px;
      bottom: 195px;
      right: 332px;
      left: 332px;
  }
}

@media screen and (min-width: 1280px) {
  .bottom__subtitle {
      width: 360px;
      bottom: 245px;
      right: 412px;
      left: 412px;
  }
}
