.cover {
  max-width: 100%;
}

@media screen and (min-width: 1280px) {
  .cover {
      padding-left: 48px;
      padding-right: 48px;
      margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
      margin-bottom: 92px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
      margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
      margin-bottom: 88px;
  }
}

