.cover__title {
  line-height: 1.04;
  font-size: 96px;
  color: white;
  font-weight: bold;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 32px;
}

@media screen and (max-width: 767px) {
  .cover__title {
      line-height: 1.04;
      font-size: 40px;
      margin-bottom: 16px;
      max-width: 288px;
  }
}
