.cover__title {
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  margin: 0;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .cover__title {
      max-width: 288px;
      font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
      max-width: 560px;
  }
}
