.bottom__title {
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .bottom__title{
      width: 288px;
      font-size: 32px;
      top: 33px;
      right: 16px;
      left: 16px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bottom__title{
      width: 560px;
      top: 115px;
      right: 104px;
      left: 104px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .bottom__title{
      width: 560px;
      top: 195px;
      right: 232px;
      left: 232px;
    }

}

@media screen and (min-width: 1280px) {
  .bottom__title{
      width: 560px;
      top: 245px;
      right: 312px;
      left: 312px;
    }
}
