.intro__description{
color: white;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
margin:0 0 33px 0;
max-width: 690px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__description {
max-width: 720px;        }
    } 

@media screen and (max-width: 767px) {
    .intro__description {
    margin-bottom: 34px;}
        } 